.row {
    max-width: 1140px;
    margin: auto;
    padding: 2rem;
}

.col__2 {
    margin: 1px;
}

.col__2 img {
    border-radius: 10px;
    width: 500px;
    height: 600px;
    margin: 20px;
}

h1.about__heading {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-size: 60px;
    padding-left: 2rem;
}

.about_text {
    font-size: 1.2rem;
    padding: 1rem 1rem;
}

.about_btn {
    padding: 1rem 1rem;
    text-align: center;
}

.btn_modification {
    margin: 0.7rem;
}

.about_meta {
    padding: 1rem;
}

@media screen and (max-width: 400px) {
    .row {
        max-width: 400px;
        grid-template-columns: 1fr;
    }

    .col__2 img {
        text-align: center;
        border-radius: 10px;
        width: 300px;
        height: 350px;
    }

    .about_meta p {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 964px) {
    .row {
        grid-template-columns: 1fr;
    }

    .col__2 img {
        text-align: center;
        border-radius: 10px;
        width: 300px;
        height: 400px;
        max-width: 350px;
        max-height: 450px;
    }

    .about_text {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 1132px) {
    .row {
        grid-template-columns: 1fr;
    }

    .about_text {
        font-size: 1rem;
        padding: 1rem 1rem;
    }

    h1.about__heading {
        font-weight: 400;
        font-size: 45px;
    }

    .btn_modification {
        margin: 1.2rem;
    }

    .col__2 img {
        text-align: center;
        border-radius: 10px;
        width: 600px;
        height: 650px;
    }
}
