.project-heading {
    text-align: center;
    padding: 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    transition: 0.2s;
    
    
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    border: 2px solid #EBF1D4;
    padding: 10px;
    border-radius: 15px 50px;
}
.project-card:hover {
    transform: translateY(-10px);
    background-color: #98B000;
}

.project-card img {
    width: 100%;
    border: 2px solid #222;
    padding: 10px;
    border-radius: 15px 50px;
}

.Project-title {
    text-align: center;
    color: rgb(100, 230, 14);
    padding: 0.70rem 0;
}

.pro-details {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btn {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    gap: 20px;
}
/* for small screen size upto 400px */ 
@media screen and (max-width: 400px) {
    .pro-btn {
    flex-direction:column;
    gap: 40px;
}
}


/* for screen size upto 740px */ 
@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}